volumes:
  kafka-data:
    driver: local

services:

  akhq:
    build:
      context: .
    restart: on-failure
#    restart: unless-stopped
    environment:
      AGENTS_URL: "http://agents:8000/agents"
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            my-cluster:
              properties:
                bootstrap.servers: "kafka:29092"
              schema-registry:
                url: "http://schema-registry:8085"
              connect:
                - name: "my-connect"
                  url: "http://connect:8083"
              ksqldb:
                - name: "ksqldb"
                  url: "http://ksqldb-server:8088"

        copilotkit:
          url: "http://localhost:3001"

    ports:
      - 8080:8080
    dns:
      - 10.190.1.55
    links:
      - kafka
      - schema-registry
      - agents

  agents:
    build:
      context: ../agents
#    container_name: agents
    ports:
      - "8000:8000"
    env_file:
      - ../agents/.env

  kafka:
    image: confluentinc/cp-kafka:8.0.0
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092" # SASL_PLAINTEXT accesso esterno
      - "9091:9091" # JMX
      - "1234:1234"   # Prometheus exporter
    volumes:
      - kafka-data:/var/lib/kafka/data:Z
      - ./kafka/prometheus:/opt/prometheus:Z
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_NUM_PARTITIONS: 12
      KAFKA_COMPRESSION_TYPE: gzip
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9091
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_JMX_OPTS: '-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.rmi.port=9091 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.local.only=false -javaagent:/usr/share/java/cp-base-new/jmx_prometheus_javaagent-0.20.0.jar=1234:/opt/prometheus/config.yaml'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      # Replace CLUSTER_ID with a unique base64 UUID using "bin/kafka-storage.sh random-uuid"
      # See https://docs.confluent.io/kafka/operations-tools/kafka-tools.html#kafka-storage-sh
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'

  schema-registry:
    image: confluentinc/cp-schema-registry:8.0.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - kafka
#    ports:
#      - "8085:8085"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8085
      SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL: 'INFO'

  connect:
    image: cnfldemos/kafka-connect-datagen:0.6.7-8.0.0
    hostname: connect
    container_name: connect
    depends_on:
      - kafka
      - schema-registry
#    ports:
#      - "8083:8083"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: 'kafka:29092'
      CONNECT_REST_PORT: 8083
      CONNECT_REST_LISTENERS: http://0.0.0.0:8083
      CONNECT_REST_ADVERTISED_HOST_NAME: connect
      CONNECT_GROUP_ID: kafka-connect
      CONNECT_CONFIG_STORAGE_TOPIC: __connect-config
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_FLUSH_INTERVAL_MS: 10000
      CONNECT_OFFSET_STORAGE_TOPIC: __connect-offsets
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_TOPIC: __connect-status
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8085
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"

#  ksqldb-server:
#    image: confluentinc/cp-ksqldb-server:8.0.0
#    hostname: ksqldb-server
#    container_name: ksqldb-server
#    depends_on:
#      - kafka
#      - connect
#      - schema-registry
#    ports:
#      - "8088:8088"
#    environment:
#      KSQL_CONFIG_DIR: "/etc/ksql"
#      KSQL_BOOTSTRAP_SERVERS: "kafka:29092"
#      KSQL_HOST_NAME: ksqldb-server
#      KSQL_LISTENERS: "http://0.0.0.0:8088"
#      KSQL_KSQL_SERVICE_ID: 'ksql'
#      KSQL_CACHE_MAX_BYTES_BUFFERING: 0
#      KSQL_KSQL_SCHEMA_REGISTRY_URL: "http://schema-registry:8085"
#      KSQL_KSQL_CONNECT_URL: "http://connect:8083"
#      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_REPLICATION_FACTOR: 1
#      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE: 'true'
#      KSQL_KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE: 'true'
#
#  ksqldb-cli:
#    image: confluentinc/cp-ksqldb-cli:8.0.0
#    container_name: ksqldb-cli
#    depends_on:
#      - kafka
#      - connect
#      - ksqldb-server
#    entrypoint: /bin/sh
#    tty: true
#
#  ksql-datagen:
#    image: confluentinc/ksqldb-examples:8.0.0
#    hostname: ksql-datagen
#    container_name: ksql-datagen
#    depends_on:
#      - ksqldb-server
#      - kafka
#      - schema-registry
#      - connect
#    command: "bash -c 'echo Waiting for Kafka to be ready... && \
#                       cub kafka-ready -b kafka:29092 1 40 && \
#                       echo Waiting for Confluent Schema Registry to be ready... && \
#                       cub sr-ready schema-registry 8085 40 && \
#                       echo Waiting a few seconds for topic creation to finish... && \
#                       sleep 11 && \
#                       tail -f /dev/null'"
#    environment:
#      KSQL_CONFIG_DIR: "/etc/ksql"
#      STREAMS_BOOTSTRAP_SERVERS: kafka:29092
#      STREAMS_SCHEMA_REGISTRY_HOST: schema-registry
#      STREAMS_SCHEMA_REGISTRY_PORT: 8085
#
#  rest-proxy:
#    image: confluentinc/cp-kafka-rest:8.0.0
#    depends_on:
#      - kafka
#      - schema-registry
#    ports:
#      - 8082:8082
#    hostname: rest-proxy
#    container_name: rest-proxy
#    environment:
#      KAFKA_REST_HOST_NAME: rest-proxy
#      KAFKA_REST_BOOTSTRAP_SERVERS: 'kafka:29092'
#      KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
#      KAFKA_REST_SCHEMA_REGISTRY_URL: 'http://schema-registry:8085'
#
#  flink-sql-client:
#    image: cnfldemos/flink-sql-client-kafka:1.19.1-scala_2.12-java17
#    depends_on:
#      - flink-jobmanager
#    hostname: flink-sql-client
#    container_name: flink-sql-client
#    environment:
#      FLINK_JOBMANAGER_HOST: flink-jobmanager
#
#  flink-jobmanager:
#    image: cnfldemos/flink-kafka:1.19.1-scala_2.12-java17
#    hostname: flink-jobmanager
#    container_name: flink-jobmanager
#    ports:
#    - 9081:9081
#    command: jobmanager
#    environment:
#    - |
#      FLINK_PROPERTIES=
#      jobmanager.rpc.address: flink-jobmanager
#      rest.bind-port: 9081
#
#  flink-taskmanager:
#    image: cnfldemos/flink-kafka:1.19.1-scala_2.12-java17
#    hostname: flink-taskmanager
#    container_name: flink-taskmanager
#    depends_on:
#    - flink-jobmanager
#    command: taskmanager
#    scale: 1
#    environment:
#    - |
#      FLINK_PROPERTIES=
#      jobmanager.rpc.address: flink-jobmanager
#      taskmanager.numberOfTaskSlots: 10

  prometheus:
    image: prom/prometheus
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: on-failure
#    restart: always

  grafana:
    image: grafana/grafana
    ports:
      - '3000:3000'
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/dashboards:/etc/grafana/dashboards
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    environment:
      - GF_AUTH_PROXY_ENABLED=true
      - GF_AUTH_PROXY_HEADER_NAME=X-WEBAUTH-USER
      - GF_AUTH_PROXY_HEADER_PROPERTY=username
      - GF_AUTH_PROXY_AUTO_SIGN_UP=true
    depends_on:
      - prometheus
    restart: on-failure
#    restart: always

  kafka-exporter:
    image: danielqsj/kafka-exporter:latest
    container_name: kafka-exporter
    ports:
      - "9308:9308"
    command:
      - --kafka.server=kafka:29092
    depends_on:
      - kafka
    restart: on-failure
